<!DOCTYPE html>
<html>
<head>
<title>명강의 : 명지대학교 강의평가</title>
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag '/jqui-theme/jquery-ui-1.9.1.custom.min.css' %>
<%= csrf_meta_tags %>
</head>
<body>
<script type="text/javascript">
$(function(){
  <% if notice || alert %>
      humane.log('<%= notice || alert %>');
  <% end %>
});
</script>

<div>
  <%= yield %>
</div>
<div class="clearfix"></div>
<div id="footer" class="container">
  <div class="pull-left">
  </div>
  <div class="status pull-right">
    가입한 학생수 <span class="red_text em_text"><%= User.count %></span>명<br/>
    등록된 강의평 <span class="red_text em_text"><%= Assessment.count %></span>개<br/><br/>
    <b><a href="https://www.facebook.com/mju.klassmate"> 명강의 페이스북</a></b>
  </div>
  <div class="clearfix"></div>
</div>
</body>
</html>
